<template>
<div class="about-us">
  <section class="hero is-primary is-fullheight main">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-size-1 is-italic has-text-weight-semibold">
          <div class="content">
            <blockquote>
              “Talk is cheap. Show me the code.”
            </blockquote>
          </div>
        </h1>
        <a href="#scroll-to-start" v-smooth-scroll="{ duration: 1000, offset: -150 }" class="button">Check out my latest work!</a>
      </div>
    </div>
  </section>
  <div id="scroll-to-start" class="section-title-container container has-text-centered">
    <h1 class="title">Latest project</h1>
    <h2 class="subtitle">The last project I have been working on:</h2>
  </div>
  <section class="container is-fullhd">
    <div class="tile is-ancestor">
      <div class="tile is-parent pointer">
        <div class="tile is-child box">
          <p class="title">esize.me</p>
          <figure class="image is-3by1">
            <a href="https://www.esize.me/" target="_blank">
              <img src="../assets/new_logo_color.svg">
            </a>
          </figure>
        </div>
      </div>
      <div class="tile is-4 is-vertical is-parent has-text-weight-light">
        <div class="tile is-child box">
          <p class="title">Technologies:</p>
          <ul>
            <li><i class="fas fa-chevron-right"></i> HTML5</li>
            <li><i class="fas fa-chevron-right"></i> JS</li>
            <li><i class="fas fa-chevron-right"></i> jQuery</li>
            <li><i class="fas fa-chevron-right"></i> CSS Grid Layout</li>
            <li><i class="fas fa-chevron-right"></i> JSON</li>
          </ul>
        </div>
        <div class="tile is-child box">
          <p class="title">Features:</p>
          <ul>
            <li><i class="fas fa-chevron-right"></i> Mapbox map</li>
            <li><i class="fas fa-chevron-right"></i> FAQ site with autocomplete search bar</li>
            <li><i class="fas fa-chevron-right"></i> UX components (gallery, widowed video etc.)</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="is-hidden-mobile">
    <div class="section-title-container container has-text-centered">
      <h1 class="title">Project in time</h1>
      <h2 class="subtitle">Time spent on particular things:</h2>
    </div>
    <Piechart data-aos="fade-right"></Piechart>
  </section>

  <section class="hero contact-hero">
    <div class="hero-body">
      <div class="container level">
        <div class=" level-left has-text-centered">
          <h1 class="title has-text-centered">
            Want to be in touch?
          </h1>
          <h2 class="subtitle has-text-centered">
            Check out my Linkedin:
          </h2>
        </div>
        <div class="level-right">
          <div class="has-text-right has-text-centered-mobile">
            <i class="fas fa-caret-down fa-4x has-text-centered" data-aos="zoom-out-down"></i>
            <a href="https://www.linkedin.com/in/weronika-majewska-b5b887183" target="_blank"><i class="fab fa-linkedin fa-4x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
</template>

<script>
import Piechart from '../components/Piechart'
export default {
  name: 'about',
  components: {
    Piechart
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../mediaqueries';

.main .hero-body {
    @include section-shadow;
    @include background-gradient;

    .content blockquote {
        background-color: #d5cabd0f;
        border-left: 5px solid $main-title;
    }

    .notification {
        width: 30%;
        color: #423636;
        position: relative;

    }
    .first-left {
        position: absolute;
        bottom: 18px;
    }
    .chart-section {
        svg {
            position: relative;
            top: -71px;
        }
    }
}
.section-title-container {
    margin-top: 100px;
    margin-bottom: 100px;
}
.image-section {
    @include section-shadow;

    border-radius: 70px 10px;
    margin-right: 16px;
    margin-left: 16px;
    .hero-body {
        background-image: none !important;
    }
    img {
        height: auto;
    }
}
.box {
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.02) rotate(2deg);
    }
}
.is-3by1 {
    img {
        padding: 60px !important;
        @include mobile {
            padding: 0 !important;
        }
    }
}
.pointer {
    cursor: pointer;
}
.is-ancestor {
    @include mobile {
        margin: 1rem !important;
    }
}
i {
    color: $primary;
    padding: 10px;
}
.fa-linkedin {
    color: $main-title;
    display: block;
    margin-top: 10px;
    &:hover {
        color: $hover;
        cursor: pointer;
    }
}
.contact-hero {
    @include section-shadow;
    background: linear-gradient(-14deg, $primary, $secondary 45%, $main-title 45%) $hover;
    i {
        display: block;
        color: $main-title;
        margin-bottom: 16px;
        @include mobile {
            margin-bottom: -30px;
        }
    }
    .subtitle {
        font-size: 20px;
        margin-top: 40px;
        color: $secondary;
    }
}
</style>
