<template>
  <div class="contact">
    <form id="contact-form" novalidate="true" >
    <div class="columns">
      <div class="column">
    <div class="container">
      <p v-bind:id="ScrollTo()" class="title is-1 has-text-centered is-size-3-mobile">Hit me up!</p>
      <p class="subtitle is-3 has-text-centered is-size-4-mobile">Just fill the form:</p>
      <article v-if="errors.length" class="message is-danger" data-aos="zoom-in-down">
      <div class="message-header">
        <p>Something went wrong:</p>
      </div>
      <div class="message-body">
        <ul>
          <li v-for="error in errors" data-aos="fade-right">{{ error }}</li>
        </ul>
      </div>
    </article>
      <div class="columns">
        <div class="column is-nopaddingtop">
          <div class="field">
            <label for="name" class="label">Name</label>
            <div class="control">
              <input v-model="name" v-on:keyup="checkForm()" class="input is-large" type="text" placeholder="">
            </div>
          </div>
        </div>
        <div class="column is-paddingtopless">
          <div class="field">
            <label for="surname" class="label">Surname</label>
            <div class="control">
              <input v-model="surname" v-on:keyup="checkForm()" class="input is-large" type="text" placeholder="">
            </div>
          </div>
        </div>
      </div>

  <div class="field">
        <label for="email" class="label">E-mail</label>
  <p class="control has-icons-left has-icons-right">
    <input v-bind:class= "getInputColor()" v-model="email" v-on:keyup="checkForm()" class="input is-large" type="email" placeholder="E-mail">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i v-bind:class= "getIcon()"></i>
    </span>
  </p>
</div>

<label for="selected" class="label">Subject</label>
<div class="select is-medium">
     <select v-model="selected" v-on:keyup="checkForm()">
       <option>Collaboration</option>
       <option>Question</option>
       <option>Meeting</option>
     </select>
   </div>

      <div class="field">
        <label for="text" class="label">Message:</label>
        <div class="control">
          <textarea v-model="text" v-on:keyup="checkForm()" class="textarea is-large" placeholder=""></textarea>
        </div>
        <p class="help">I will answer you as soon as possible</p>
      </div>

  </div>
  </div>
  <div class="column">
    <div class="container">
    <p class="title is-1 has-text-centered is-size-3-mobile">Seems to be OK?</p>
<p class="subtitle is-3 has-text-centered is-size-4-mobile">So let's go!</p>
<div class="mail-content">
  <div class="card">
  <header class="card-header">
    <p class="card-header-title">
      New message
    </p>
    <a class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="far fa-envelope"></i>
      </span>
    </a>
  </header>
  <article v-if="showSuccess" class="message is-success" data-aos="fade-right">
  <div class="message-body">
    Message has been sent successfully :)
  </div>
</article>
  <div v-if="!showSuccess" class="card-content">
    <div class="content">
      <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">From</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input class="input is-static" type="email" :value="email" readonly>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">To</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input class="input is-static" type="email" value="weronikaa1@gmail.com" readonly>
        </p>
      </div>
    </div>

  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Subject</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input class="input is-static" :value="selected" readonly>
        </p>
      </div>
    </div>
  </div>
  <div class="field is-vertical">
    <div class="field-label is-normal">
      <label class="label has-text-left">Message:</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <textarea class="textarea has-fixed-size" readonly >{{this.text + ", " }}{{this.name + " "}}{{this.surname}}</textarea>
        </p>
      </div>
    </div>
  </div>
      <time>{{ new Date().toJSON().slice(0,10).replace(/-/g,'/') }}</time>
    </div>
  </div>

  <footer class="card-footer">
    <div class="submit-container">
      <a :href="'#' + ScrollTo()" v-smooth-scroll="{ duration: 800, offset: -150 }" class="button has-text-centered" type="submit" :disabled="!errors.length == 0" v-on:click.prevent="checkFormState = true; postForm(); checkForm(); showSuccess = true;">Send</a>
  </div>

  </footer>
</div>
</div>
  </div>
  </div>
</div>
</form>
</div>
</template>

<script>
export default {
  name: 'contact',
  data: function () {
    return {
      name: "",
      surname: "",
      email: "",
      text: "",
      selected: "",
      errors: [],
      showSuccess: false,
      checkFormState: false
    }
  },
  methods: {
    postForm: function(){
      var payload = {name: this.name,surname: this.surname, email: this.email, text: this.text, selected: this.selected};

            // send get request
            this.$http.post("https://vue-projekt-emailapi.azurewebsites.net/", payload, function (data, status, request) {
            alert(data);

            // set data on vm
            this.response = data;

          });
    },
    checkForm: function () {
      this.errors = [];
        // var checkFormState = true;
    if(this.checkFormState){
      if (!this.name) {
        this.errors.push("Name field is empty");
      }
      if (!this.surname) {
        this.errors.push("Surname field is empty");
      }
      if (!this.selected) {
        this.errors.push("Choose subject of message");
      }
      if (!this.text) {
        this.errors.push("Message field is empty");
      }
      if (!this.email) {
        this.errors.push('E-mail field is empty');
      } else if (!this.validEmail(this.email)) {
        this.errors.push('Incorrect e-mail address');
      }
      if (!this.errors.length) {
        return true;
      }
    }
      e.preventDefault();
    },
    validEmail: function (email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    getIcon(){
        return {
            'fas fa-check': this.email,
            'fas fa-exclamation-triangle': !this.validEmail(this.email)
          }
    },
    getInputColor(){
        return {
            'is-success': this.email,
            'is-danger': !this.validEmail(this.email),
            'is-default': this.email == ""
          }
    },
    ScrollTo(){
      if (this.errors.length) {
        var scrollHref = 'scroll-to-error'
        return scrollHref;
      }else {
        return "";
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../mediaqueries';
.container{
  width: 100%;
  padding: 100px;
  @include mobile{
    padding: 32px;
  }
  input:focus, textarea:focus, select:focus {
  border: 2px solid #4B4453;
}
.mail-content{
  input[type="email"], input:focus, textarea:focus, select:focus{
    border-bottom: 1px solid $main-title;
    border-radius: unset;
    }
  input:focus, textarea:focus, select:focus {
  border: none;

}
textarea{
  border: none;
}
.field .is-vertical{
  margin-left: 5%;
}
}
}
:focus {
  box-shadow: none;
}
.submit-container{
  padding: 20px;
}
article{
  margin-top: 25px;
}
.is-paddingtopless{
  @include mobile{
    padding-top: 0;
  }
}


</style>
