<template>
  <div id="home">
    <section class="hero is-fullheight main-section">
      <div class="hero-body">
        <div class="container is-fluid is-marginless has-text-centered">
          <svg viewBox="0 0 500 500">
            <path id="curve" fill="transparent" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
            <text width="500">
              <textPath class="is-hidden-touch" xlink:href="#curve">
                I'm Weronika Majewska
              </textPath>
            </text>
          </svg>
          <img class="animated bounce delay-1s" src="../assets/Hofocy.png" alt="" data-aos="zoom-in" data-aos-delay="700">
          <h1 class="title has-text-centered">
            <Typing></Typing>
          </h1>
          <h2 class="subtitle">
            Frontend Web Developer
          </h2>
          <a href="#scroll-to-start" v-smooth-scroll="{ duration: 1000, offset: -150 }" class="button">Get to know me!</a>
        </div>
      </div>
    </section>

    <div id="scroll-to-start" class="section-title-container container has-text-centered">
      <h1 class="title">My development tools:</h1>
      <!-- <h2 class="subtitle">Subtitle</h2> -->
    </div>

    <section class="container icons-container">
    <div class="columns has-text-centered">
  <div v-for="icon in icons" class="column" :data-aos="icon.animation" data-aos-duration="1500">
    <span class="icon has-text-primary is-large">
      <i :class="icon.icon"></i>
    </span>
    <h3 class="is-size-4">{{icon.title}}</h3>
    <p class="is-medium has-text-weight-light">{{icon.subtitle}}</p>
  </div>
</div>
</section>

<div class="section-title-container container has-text-centered">
  <h1 class="title">My skills:</h1>
  <!-- <h2 class="subtitle">Subtitle</h2> -->
</div>
<section class="container cards">
<div class="columns">
  <div v-for="homeTab in homeTabs" class="column">
<div  class="card" data-aos="fade-down" :data-aos-delay="homeTab.delay" data-aos-offset="200">
  <div class="card-content has-text-centered">
    <i :class="homeTab.icon"></i>
    <div class="title">
      {{homeTab.title}}
    </div>
    <p class="subtitle has-text-weight-light is-size-5 is-marginless">
      {{homeTab.subtitle}}
    </p>
  </div>
  <footer class="card-footer">
    <div class="tags">
    <span v-for = "tagElement in homeTab.tags"  :class="tagElement.theme" class="tag is-medium">{{ tagElement.tag }}</span>
  </div>
  </footer>
</div>
 </div>
</div>
</section>

<div class="section-title-container container has-text-centered">
  <h1 class="title">Most recent known technology</h1>
  <!-- <h2 class="subtitle">Subtitle</h2> -->
</div>

<section class="hero image-section has-shadow">
  <div class="hero-body">
    <div class="container">
      <div class="level">
        <div class="level-left">
            <img src="../assets/phone.gif" alt="" data-aos="fade-right" data-aos-delay="700">
        </div>
        <div class="has-text-centered level-right">
        <div class="" data-aos="zoom-in" data-aos-delay="700">
          <img class="pwa" src="../assets/PWA-Logo.png" alt="">
            <h1 class="title">PWA Ready!</h1>
            <p class="is-medium has-text-weight-light">This site is progressive web app</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="hero contact-hero">
    <div class="hero-body">
      <div class="container level">
          <div class=" level-left has-text-centered">
        <h1 class="title has-text-centered">
          Any questions?
        </h1>
        <h2 class="subtitle has-text-centered">
          Send me a message!
        </h2>
        </div>
        <div class="level-right">
        <div class="has-text-right has-text-centered-mobile">
          <i class="fas fa-caret-down fa-4x has-text-centered" data-aos="zoom-out-down"></i>
        <a href="#/contact-us" class="button">Contact</a>
        </div>
        </div>
      </div>
    </div>
  </section>
  </div>
</template>

<script>
import Vue from 'vue'
import Typing from '../components/Typing'
export default {
  name: 'home',
  components: {
     Typing
   },
   data: function () {
     return {
    icons: [
      {
        icon: 'fas fa-4x fa-atom',
        title: 'Atom',
        subtitle: 'Favourite code editor',
        animation: 'fade-right'
      },
      {
        icon: 'fab fa-4x fa-git',
        title: 'Git',
        subtitle: 'Favourite version-control system',
        animation: 'fade-up'
      },
      {
        icon: 'fab fa-4x fa-vuejs',
        title: 'Vue.js',
        subtitle: 'Favourite JS framework',
        animation: 'fade-down'
      },
      {
        icon: 'fab fa-4x fa-bitbucket',
        title: 'Bitbucket',
        subtitle: 'Favourite repository',
        animation: 'fade-left'
      }
    ],
    homeTabs: [
      {
        icon: 'fab fa-html5 fa-4x',
        title: 'HTML',
        subtitle: 'Writing responsive sites using Bootstrap or Bulma frameworks',
        delay: 200,
        tags: [
          {
            tag: 'RWD',
            theme: 'is-primary'
          },
          {
            tag: 'Bootstrap',
            theme: 'is-dark'
          },
          {
            tag: 'HTML5',
            theme: 'is-light'
        }
        ]
      },
      {
        icon: 'fab fa-js fa-4x',
        title: 'JavaScript',
        subtitle: 'Using a lot of librares, writing scripts (Google Tag Manager experience)',
        delay: 400,
        tags: [
          {
            tag: 'jQuery',
            theme: 'is-primary'
          },
          {
            tag: 'Vue.js',
            theme: 'is-dark'
          },
          {
            tag: 'Node.js',
            theme: 'is-light'
        }
        ]
      },
      {
        icon: 'fab fa-css3-alt fa-4x',
        title: 'CSS',
        subtitle: 'Working with CSS3 and impoving skills by working with more complex and harder to maintain code in SASS.',
        delay: 600,
        tags: [
          {
            tag: 'SASS',
            theme: 'is-primary'
          },
          {
            tag: 'CSS3',
            theme: 'is-dark'
          }
        ]
      },
    ]
  }
 }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import "../mediaqueries.sass";
.hero-body .container{
  .title{
    font-size: 42px;
    @include mobile{
      white-space: nowrap;
    }
  }
  .subtitle{
    font-size: 20px;
    margin-top: 40px;
  }
  svg{
    position: absolute;
    left: 151px;
    top: -185px;
    font-size: 20px;
    font-weight: bold;
    text{
      fill: $main-title;
    }

  }

}
.main-section {
  img{
    width: 17%;
    margin: 50px;
    margin-top: 0;
    @include mobile{
      width: 70%;
    }
    @include tablet-only{
      width: 45%;
    }
    @include desktop{
      width: 17%;
    }
  }
  .hero-body{
  background-image: linear-gradient(to right top, #845ec2, #7658a5, #685189, #5a4b6d, #4b4453);
  .title{
    color: $main-title;
  }
  .subtitle{
    color: $main-title;
    }
  }
}
.title{
  color: $title-color;
}
.subtitle{
  color: $title-color;

}
.image-section{
  @include section-shadow;
  border-radius: 70px 10px;
  margin-right: 16px;
  margin-left: 16px;
  img{
    height: auto;
  }
  .pwa{
      width: 20%;
      margin-bottom: 50px;
      @include mobile{
        width: 50%;
      }
    }
    .level-left{
      @include tablet-only{
        text-align: center;
      }
    }
}
.input-section{
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.columns{
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -2rem;
}
.column{
  .is-size-4{
    margin-top: 40px;
  }
  .icon{
    .fas, .fab{
      text-shadow: 0px 13px 6px #dcdcdc;
    }
  }
}
.icons-container .columns{
  margin: 16px;
}

.card-content{
  padding: 2.5rem;
  i{
    color: $primary;
    padding: 50px;
  }
}
.card-footer .tags{
  padding: 27px;
}
.chart-section{
  .message{
    opacity: 0.9;
    width: 50%;
  }
  svg{
    position: relative;
    z-index: -1;
    top: -278px;
  }
}
.section-title-container{
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact-hero{
  @include section-shadow;
  background: linear-gradient(-14deg, $primary, $secondary 45%, $main-title 45%) $hover;
  i{
    display: block;
    color: $main-title;
    margin-bottom: 16px;
  }
}
</style>
