<template>
  <div id="app">
    <nav class="navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
<div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/#/">
      <span class="title-font">Weronika Majewska</span>
    </a>
    <a role="button" class="navbar-burger burger" v-on:click="toggleNav" v-bind:class="{'is-active': isActive}" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" v-bind:class="{'is-active': isActive}">
    <div class="navbar-end">
      <a v-on:click="toggleNav" href="#/" class="navbar-item">Home</a>
      <a v-on:click="toggleNav" href="#/about-us" class="navbar-item">About</a>
      <div class="navbar-item">
          <a v-on:click="toggleNav" href="#/contact-us" class="button is-rounded">Contact</a>
      </div>
    </div>
  </div>
</div>
</nav>

<transition name="fade" mode="out-in">
<router-view></router-view>
</transition>

  <footer class="footer has-text-weight-semibold is-shadowed is-fixed-bottom">

<div class="level">
  <div class="level-item">


<div class="container is-size-6">
<ul>
  <li><i class="fas fa-home"></i><a href="#/">Home</a></li>
  <hr>
  <li><i class="fas fa-child"></i><a href="#/about-us">About</a></li>
  <hr>
  <li><i class="far fa-envelope"></i><a href="#/contact-us">Contact</a></li>
  <hr>
  <!-- <li><i class="fas fa-dollar-sign"></i><a href="#">Info</a></li>
  <hr> -->
  <li><a class="has-text-centered" href="https://bulma.io">
    <img src="https://bulma.io/images/made-with-bulma--dark.png" alt="Made with Bulma" width="128" height="24">
  </a></li>
</ul>
</div>
</div>
<div class="level-item">

</div>
</div>
<div class="is-divider" data-content="Copyright 2019"></div>

  </footer>
  </div>
</template>

<script>
export default {
  name: 'App',
  data: function() {
    return {
      isActive: false
    }
  },
  methods: {
    toggleNav: function() {
      this.isActive = !this.isActive;
    }
  }

}

</script>

<style lang="scss">
@import "mediaqueries.sass";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
body{
  width: 100%;
overflow-x: hidden;
}

html{
  background-color: $background;
  }
#app{
  font-family: Bahnschrift;
}
section{
  margin-top: 64px;
  &:first-of-type{
    margin-top: 0;
  }
}
a{
  &:hover {
  color: $hover !important;
  opacity: 0.8;
}
}
.button {
  @include section-shadow;
  background-color: $secondary !important;
  border: none !important;
  padding: 20px 40px 20px 40px !important;
  color: white !important;
  &:hover {
    color: white !important;
    background-color: $primary !important;
  }
}
.navbar-brand .navbar-item{
  font-size: 32px;
  font-family: Impact;
  text-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  .title-font{
  font-family: 'Pacifico', cursive;
  }
  @include mobile{
    color: $main-title;
  }
}
.navbar.is-fixed-top{
  @include mobile{
    background: #50465D;
  }
}
.navbar.has-shadow{
  @include mobile{
    box-shadow: 0 2px 0 0 #50465d8c !important;
  }
}
.navbar-menu{
  margin-top: 10px;
  margin-bottom: 10px;
 .navbar-end .navbar-item{
  padding-right: 30px;
  padding-left: 30px;
  &:first-child{
    border-right: 1px solid $primary;
    line-height: 10px;
  }
  &:last-child{
    padding-right: 0;
    }
    &:hover{
      color: $primary !important;
    }
    @include mobile{
      color: $main-title !important;
    }
  }
  @include mobile{
    background: none !important;
    padding: 2.5rem 0 !important;
    margin-bottom: 0;
  }
}
.navbar-burger{
  height: 4.25em !important;
    @include mobile{
      color: $main-title !important;
    }
}
.footer{
  margin-top: 64px;
  background: linear-gradient(-30deg, $primary, $secondary 45%);
      ul{
        color: $main-title;
        padding: 0px;
    line-height: 0;
    width: 50%;
    margin-right: auto;
        li{
          i{
            margin-right: 10px;
          }
        }
        @include mobile{
          width: 100%;
        }
      }
      a{
        color: $main-title !important;
        &:hover{
          color: $primary !important;
        }
      }
      .is-divider{
        border-top: .1rem solid #d5cabd33 !important;
      }
.is-divider-vertical[data-content]::after, .is-divider[data-content]::after{
  background: #d5cabd;
    color: #4b4453;
}
hr{
  background-color: #d5cabd40;
  }
}

</style>
  <style lang="sass">
  @import 'mediaqueries'
  @import '../node_modules/bulma/bulma.sass'
  @import '~bulma-divider'
  </style>
